<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="testConfiguration" type="SimpleConfig.SimpleConfigHandler, SimpleConfig" />
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>

  <testConfiguration>
    <activeTestEnvironment>staging</activeTestEnvironment>
    <testOptions>
      <browser>Chrome</browser>
    </testOptions>
    <testEnvironmentConfigurations>
      <testEnvironmentConfiguration name="staging">
        <baseUrl>http://staging.qaworks.com:1403/</baseUrl>
      </testEnvironmentConfiguration>
      <testEnvironmentConfiguration name="local">
        <baseUrl>http://staging.qaworks.com:1403/</baseUrl>
      </testEnvironmentConfiguration>
    </testEnvironmentConfigurations>

  </testConfiguration>

</configuration>